@model List<Post>
@{
    ViewBag.Title = "Posts";
}

<div class="mb-2 d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Id</td>
                <td><img src="~/img/posts/@post.Image" height="64" /></td>
                <td>@post.Title</td>
                <td>@post.Category.Name</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@post.Id"><i class="fas fa-trash"></i></a>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@post.Id"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
